body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}


#aspect_intro {
    margin-top: 5em;
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    
}

#aspect_list {
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
}
