.body, .html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}
.search-container {
    max-width: 1000px;
	width: 100%;
}
.logo {
	max-height: 50px;
	max-width: 50px;
}
#category_intro {
    margin-top: 5em;
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    
}
#category_list {
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
}
.container-fluid {
	height: 100%;
	position: absolute;
	background-color: rgba(128, 128, 128, 0.5);	
}