body {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	background-color: rgba(128, 128, 128, 0.5);	
}
.search-container {
    max-width: 1000px;
	width: 100%;
}
.logo {
	max-height: 50px;
	max-width: 50px;
}
.column {
    margin: 5px;
    float: left;
}
.images {
	max-height: 300px;
	max-width: 100%;
	width: auto;
	height: auto;
	border: 1px solid #ccc;
}