.body, .html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}
.search-container {
    max-width: 1000px;
	width: 100%;
}
.logo {
	max-height: 50px;
	max-width: 50px;
}
.container-fluid {
	height: 100%;
	position: absolute;
	background-color: rgba(128, 128, 128, 0.5);	
}
.col {
	height: 100%;
	display: table-row;
	background-color: rgba(128, 128, 128, 0.5);
}
.col-md-5 {
	background-color: rgba(132, 160, 219, 0.5);
}
.row {
	height: 100%;
}
